!!! XML
!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title Getting Started With Seam 3 via Example
    -# The rest of this should probably be in a template we include somewhere, along with the custom css
    %link(href='http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' rel='Stylesheet' type='text/css')
    %link(href='http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' rel='Stylesheet' type='text/css')
    %script(src='http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' type='text/javascript')
    %script(src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js' type='text/javascript')
    %script(src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' type='text/javascript')
    %script(src='http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPlain.js' type='text/javascript')
    :javascript
      SyntaxHighlighter.all();
    :css
      .syntaxhighlighter table td { font-size: .9em !important; }
      .note {
        -moz-box-shadow: -5px -5px 5px #FAE13E;
        -webkit-box-shadow: -5px -5px 5px #FAE13E;
        box-shadow: -5px -5px 5px #FAE13E;
        background-color: #FFEF8A;
        width: 40em;
        margin: auto;
        padding: .5em;
        -moz-border-radius: 15px;
        border-radius: 15px;
      }
  %body
    .container
      :maruku
        # Getting Started with Seam 3 using the ConfBuzz Example
        ## Introduction

        In this tutorial we'll learn about many of the Seam 3 modules by building an example from scratch!
        The modules that we'll be using are:

        * Seam Faces
        * Seam Persistence
        * Seam Catch
        * Seam Validation
        * Seam Reports

        As an exercise for the reader, a REST interface for the application could be built using Seam Rest.
        The code for this project is available at [github]()
        
        ## Project Setup

        All Seam 3 modules are kept in an artifact repository, specifically the JBoss Nexus Repository. The
        easiest way to get started with Seam 3 is to add the desired modules to a maven project via the pom.xml. The 
        full [pom.xml]() is available 
        on github. Please refer to it to see everything that is going on. Throughout this tutorial we will refer 
        to sections of the pom in-line.

        Seam, as well as other JBoss projects, have a Build of Materials (BOM) pom that lists the dependencies and 
        versions of a particular release. This is the easiest way to get the correct jars and versions together 
        (we'll also be making use of RichFaces, so we're including it's BOM also):
      %pre(class='brush: xml')
        :escaped
                <dependencyManagement>
              <dependencies>
                  <dependency>
                      <groupId>org.jboss.seam</groupId>
                      <artifactId>seam-bom</artifactId>
                      <version>${seam.bom.version}</version>
                      <type>pom</type>
                      <scope>import</scope>
                  </dependency>
                  <dependency>
                      <groupId>org.richfaces</groupId>
                      <artifactId>richfaces-bom</artifactId>
                      <version>${richfaces.version}</version>
                      <scope>import</scope>
                      <type>pom</type>
                  </dependency>
              </dependencies>
          </dependencyManagement>
      %p
        There may be times when you need a newer version of a module than what is in the BOM. It's recommended 
        to use the maven properties to specify the version that will be used:
      %pre(class='brush: xml')
        :escaped
                <properties>
              <seam.bom.version>3.0.0.Final</seam.bom.version>
              <seam.faces.version>3.0.1.Final</seam.faces.version>
              <jboss.javaee6.version>2.0.0.Beta1</jboss.javaee6.version>
              <seam.validation.version>3.0.0.Final</seam.validation.version>
              <seam.reports.version>3.0.0.Alpha1</seam.reports.version>
              <jodatime.version>1.6.2</jodatime.version>
              <arquillian.version>1.0.0.Alpha5</arquillian.version>
              <richfaces.version>4.0.0.Final</richfaces.version>
          </properties> 
      %p
        Specifically we're using a newer version of Seam Faces, but we're also using Seam Reports and Seam Validation,
        which were not included in the initial 3.0.0.Final release of Seam.
      .note
        :maruku
          We're including jodatime because we're going to be using it directly, however, if you are using Seam with
          Glassfish 3.1, it must be included due to [GLASSFISH-16318](http://java.net/jira/browse/GLASSFISH-16318).
          This should be fixed in Glassfish 3.1.1 and 3.2
      :maruku
        The remaining portions of the pom.xml file should be familiar to those who have used maven, it covers the actual
        dependencies used and sets up some configuration for various plugins. 

        The remaining setup for the project is of course to create directories and configuration files (thankfully in
        Java EE 6, these are very small files and can often be left out or empty!). Creating the directory structure is very
        simple:
      %pre(class='brush: plain')
        :plain
                mkdir -p src/main/java
          mkdir -p src/main/resources
          mkdir -p src/main/webapp/WEB-INF
          mkdir -p src/test/java
          mkdir -p src/test/resources


